@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-demo: rgb(18 18 18);
  /* --background-demo: white; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


[data-theme='dark'] {
  --bg-color: black;
  --text-color: white;
  --background-demo: white;
}


.bg-\[\#121211\] {
  --tw-bg-opacity: 1;
  background-color: var(--background-demo);
}

.dark-mode {
  color: black !important;
}